.switchCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 45px;
  height: 22px;
  background: #dadde2;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  margin: 5px 0;
}

.switchContainer.checked {
  background-color: #a4c639;
}

.switchContainer.disabled {
  background-color: #dadde2;
  cursor: default;
}

.switchContainer.error {
  background: #f68d38;
  color: #f68d38;
}

.switchContainer .switchButton {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switchContainer.disabled .switchButton {
  background: #bdbdbd;
}

.switchCheckbox:checked ~ .switchButton {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switchContainer:active .switchButton {
  width: 60px;
}

.switchLabel {
  padding-left: 45px;
  font-size: 14px;
  font-weight: 700;
}

.switchLabelDisabled {
  color: #555;
  opacity: 0.5;
}
