.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 45px;
  height: 22px;
  background: #dadde2;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  margin: 5px 0;
}

.switch-container.checked {
  background-color: #a4c639;
}

.switch-container.disabled {
  background-color: #dadde2;
  cursor: default;
}

.switch-container.error {
  background: #f68d38;
  color: #f68d38;
}

.switch-container .switch-button {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-container.disabled .switch-button {
  background: #bdbdbd;
}

.switch-checkbox:checked ~ .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-container:active .switch-button {
  width: 60px;
}

.switch-label {
  padding-left: 45px;
  font-size: 14px;
  font-weight: 700;
}
