.container {
  width: 100%;
  height: 70px;
  padding: 14px;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #a0a0a0;
}

.center {
  margin: 0 auto;
}

.right {
  margin-left: auto;
}

.running {
  border-bottom-color: #a4c639;
}

.error {
  border-bottom-color: #f68d38;
}
