.container {
  box-sizing: border-box;
  white-space: pre-wrap;
  width: 100%;
  color: #ccc;
  padding: 8px;
  user-select: text;
  -webkit-user-select: text;
  flex: 1;
  overflow: auto;
  font-family: 'Inconsolata', 'Lucida console', Monaco, monospace;
}
