.wrapper {
  padding: 16px 24px;
}
.title-container {
  margin-bottom: 10px;
  position: relative;
}

.private-device-label {
  color: #2874b2;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -5px;
  right: 0;
}

.title {
  display: block;
  color: #555;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: row;
}

.image-wrapper {
  display: flex;
  height: 178px;
  width: 178px;
  margin-right: 10px;
}

.image-wrapper div,
.image-wrapper img {
  flex: 1 1;
  max-height: 176px;
  max-width: 176px;
}

.device-data-wrapper {
  color: #646464;
  font-size: 16px;
}

.device-data-wrapper table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 100;
}

.device-data-wrapper table tr:nth-child(odd) {
  background-color: #fafafa;
}

.device-data-wrapper table th,
.device-data-wrapper table td {
  text-align: left;
  padding: 2px 12px;
}
