.container {
  background-color: #fafafa;
  flex: 1;
  display: flex;
  overflow: auto;
  padding: 20px 10px 20px 20px;
}

.devicesWrapper {
  display: flex;
  flex-flow: row wrap;
}

.searchBox {
  padding-right: 15px;
}

.textContainer {
  margin: 30px 0;
}

.text {
  color: #4f4f4f;
  font-weight: 400;
}

.textBold {
  font-weight: 700;
}

.explain {
  font-weight: bold;
  font-size: 12px;
}

.flexContainer {
  display: flex;
}

.flex-1-2 {
  flex: 0 50%;
}
