.wrapper {
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo_container{
  padding: 15px;
}
.container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 0 20px;
}
.login_container{
  width: 380px;
  margin-left: auto;
}

.login_form {
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  padding-right: 25px;
  margin-left: auto;
  width: 380px;
}

.login-title {
  color: #1395f0;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-right: auto;
  font-weight: 300;
  font-size: 24px;
  margin-top: 0;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.login_reset{
  font-style: italic;
  color: #555;
  font-size: 14px;
  text-align: left;
  padding: 15px 0;
}

.link{
  color: #1395f0;
  cursor: pointer;
}

.right_container{
  width: 380px;
  margin-right: auto;
  padding-left: 25px;
}

.checks-container{
  box-sizing: border-box;
  padding: 0 20px 20px;
  width: 100%;
}

.overlay{
  position: absolute;
  background: rgba(0,0,0,0.25);
  bottom: 0;
  right: 0;
  left: 0;
  top:0;
  margin: 0;
  z-index: 10;
}

.deprecated_text{
  font-size: 22px;
}

.deprecated_text .link{
  text-decoration: underline;
}
