.system-checks {
  text-align: left;
}

.sub-title {
  border-bottom: 1px solid #dadde2;
  font-weight: normal;
  font-size: 18px;
}

.explain {
  margin-bottom: 15px;
}

.explain span {
  font-size: 16px;
}

.label {
  display: inline-block;
  position: relative;
  font-weight: 700;
  width: 180px;
}

.check {
  color: #a4c639;
  padding-right: 10px;
}

.error {
  color: #f68d38;
  padding-right: 10px;
}
