.container {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 70px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 20px;
}

.logoContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0;
  height: 70px;
  background: #fff;
  color: #fff;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.logoContainer image {
  width: 140px;
}

.divider {
  flex: 1;
}

.separator {
  background: rgba(127, 136, 146, 0.2);
  margin: 16px 20px;
  width: 1px;
}

.footerItem {
  align-items: flex-end;
  align-self: center;
  display: flex;
}

.versionTitle {
  color: #828282;
  font-size: 14px;
  font-weight: bold;
}

.versionNumber {
  color: #828282;
  font-size: 14px;
  margin-left: 5px;
}

.requirementsTextContainer {
  margin-left: auto;
}

.requirementsButton {
  color: #000000;
  background-color: transparent;
  border: 0 transparent;
  font-size: 14px;
}

.requirementsIcon {
  margin-right: 10px;
  font-size: 22px;
}

.accept {
  color: #7b971b;
}

.danger {
  color: #ce2a2b;
}

.chevron {
  margin-left: 10px;
  font-size: 14px;
}
