.container {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}

.formContainer {
  display: flex;
  height: calc(100% - 70px);
}

.contentLabel {
  color: #555555;
  display: block;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.submitButtonContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
