/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'proxima-nova';
  src: url('./assets/fonts/proximanova-thin.woff2') format('woff2'),
    url('./assets/fonts/proximanova-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('./assets/fonts/proximanova-light.woff2') format('woff2'),
    url('./assets/fonts/proximanova-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('./assets/fonts/proximanova-regular.woff2') format('woff2'),
    url('./assets/fonts/proximanova-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('./assets/fonts/proximanova-semibold.woff2') format('woff2'),
    url('./assets/fonts/proximanova-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

html, body, #root {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  color: #777;
  background-color: #FAF9FA;
  font-family: 'proxima-nova', Arial, sans-serif;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

main {
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 20px 20px 20px;
}



/*#root {*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  overflow: hidden;*/
/*}*/

/*.routes-wrapper {*/
/*  display: flex;*/
/*  flex: 1;*/
/*  flex-direction: column;*/
/*  height: 100vh;*/
/*  overflow: auto;*/
/*}*/

/*.routes {*/
/*  flex: 1;*/
/*  overflow: auto;*/
/*}*/

/*.left-menu-wrapper {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  width: 225px;*/
/*  height: 100vh;*/
/*}*/

/*a {*/
/*  text-decoration: none;*/
/*}*/

/*a:hover {*/
/*  opacity: 1;*/
/*  text-decoration: none;*/
/*  cursor: pointer;*/
/*}*/

/*button:focus {*/
/*  outline:0;*/
/*}*/
