.container {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
}

.mainRequirementsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.requirementsContainer {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 40px 60px 40px 20px;
  width: 750px;
}

.requirementsContainer,
.requirementContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.requirementContainer {
  margin-top: 20px;
}

.requirementsContainer > div,
.requirementContainer > div {
  flex: 1;
}

.icon {
  font-size: 20px;
  margin-right: 20px;
}

.header {
  flex: 1;
}

.requirementsContainer .label {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.subLabel {
  display: block;
  font-size: 14px;
  padding-top: 5px;
}

.requirementLabelStatusContainer {
  display: flex;
  align-items: baseline;
}

.requirementLabel,
.requirementStatus {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
.dots {
  flex: 1;
  border-bottom: 1px dotted #828282;
  margin: 0 5px;
}
.technicalDetails {
  color: #828282;
  font-family: 'Courier New', serif;
  font-size: 12px;
  padding-top: 5px;
}

.accept {
  color: #7b971b;
}

.danger {
  color: #ce2a2b;
}

.warning {
  color: #e8924c;
}

.bugContainer {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: auto;
  padding-top: 15px;
}

.bugContainer i {
  color: #ce2a2b;
  font-size: 16px;
}

.bugText {
  color: #ce2a2b;
  font-size: 14px;
  margin-left: 5px;
}

.link {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
}

.link:hover {
  cursor: pointer;
}

.link:focus {
  outline: 0;
}

.closeButtonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}
